// Sizes
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin container {
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-inline: 7.5rem;

  @include tablet() {
    padding-inline: 4rem;
  }

  @include mobile() {
    padding-inline: 1.25rem;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;

  width: 100%;

  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background: #151418;

  & > .navigation {
    @include container();

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 1.25rem;

    @include mobile() {
      padding-inline: 1.25rem;
    }

    & > .logo {
      & > a {
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;

        & > span {
          color: #7161ef;
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: center;

      list-style-type: none;

      @include mobile() {
        flex-flow: column;
        row-gap: 0.75rem;
        background: #151418;

        padding-block: 0.75rem;
        position: absolute;
        top: 4.375rem;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }

      &:hover > li > a {
        opacity: 0.4;
      }

      & > li {
        width: 100%;

        & > a {
          display: block;
          width: inherit;

          padding: 0.75rem 1.25rem;
          font-size: 1rem;
          font-weight: 500;
          color: #fff;

          transition: 0.2s all ease-in-out;

          @include mobile() {
            text-align: center;
          }

          &:hover {
            opacity: 1;
            color: #fff;
          }
        }
      }
    }

    .menuIcon {
      display: none;

      @include mobile() {
        display: block;
        width: 1.75rem;
        height: 1.75rem;
      }

      & > svg {
        width: 100%;
        height: 100%;

        cursor: pointer;
        color: #fff;
      }
    }

    .menuInput:checked ~ .menu {
      transform: scale(1, 1);
    }
  }
}

.main {
  @include container();

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding-block: 2rem;

  @include tablet() {
    padding-block: 6rem;
  }

  @include mobile() {
    padding-block: 2rem;

    grid-template-columns: 1fr;
  }

  & > .left {
    display: flex;
    flex-flow: column;
    justify-content: center;

    @include mobile() {
      align-items: center;
    }

    & > .profession {
      color: #ffffffe2;
      font-size: 1.125rem;
      font-weight: 700;
      letter-spacing: 0.01rem;

      background: #151418;
      width: fit-content;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;

      @include mobile() {
        font-size: 0.875rem;
        letter-spacing: 0.025rem;
      }
    }

    & > .fullname {
      color: #212121;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 0.05rem;
      white-space: nowrap;

      margin-top: 0.5rem;

      @include mobile() {
        margin-top: 0.25rem;

        font-size: 2rem;
        letter-spacing: 0.025rem;
      }

      & > span {
        color: #7161ef;
      }
    }

    & > .description {
      margin-top: 1rem;

      color: #212121;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.025rem;

      @include mobile() {
        margin-top: 0.75rem;

        font-size: 0.875rem;
        letter-spacing: 0.01rem;
      }

      @include mobile() {
        text-align: center;
      }
    }

    & > .button {
      padding: 0.875rem 2rem;
      margin-top: 2rem;

      color: #fff;
      font-weight: 500;

      border-radius: 0.75rem;
      width: fit-content;
      background: #7161ef;

      @include mobile() {
        margin-top: 1rem;

        font-size: 0.875rem;
        letter-spacing: 0.01rem;
      }
    }
  }

  & > .right {
    display: grid;
    place-items: center;

    & > img {
      width: calc(100% - 4rem);
      height: fit-content;
      aspect-ratio: 1 / 1;
      object-fit: contain;

      @include mobile() {
        width: min(100%, 20rem);
      }
    }
  }
}
